@charset "utf-8";
/* CSS Document */

#wrapper {
   width: 900px;
   margin: 0 auto;
   text-align: center;
}

#1 {
   border: black 5px solid;
}
 
 #2 {
   display: none;
   border: black 5px solid;
}
.choices {
     cursor: pointer;
}
