@charset "utf-8";
/* CSS Document */

.topnav {
  text-align: center;
  background-color: #FFE3D4;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #070706;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  font-size: 27px; 
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: #CFCFCF;
}

div {
	padding:5px;
	border-radius:5px;
}

#wrapper {
	width: 850px;
	margin:0 auto;   
}

body {
	text-align: justify;
	background-color:#FAF0F2;  
	color: #000000;         
	font-size: 18px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";

}

h1 { 
	padding:9px;
	text-align:center;   
	background: #27213C;
	color: white;     
	border-radius:5px;
	font-weight: bold;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

h2 { 
	padding: 9px;
	text-align:center;     /* centers h2 content */
	background: #27213C;
	color: white;       /* Text color for the h2 content*/
	border-radius:5px;
	font-size: 25px;
	letter-spacing: 1px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.body {
    background-color: #FFFFFF;
    padding: 9px;
    justify-content: center;
    font-size: 20px;
}

.stepTitle {
	padding:6px;
	text-align:left;
	color: white;
	font-size:20px;
	font-weight: bold;
	background-color:#27213C;
	border-radius:5px;
 }

.stepContent { 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.warning {
	background-color: #F7E6E9;
	padding:10px;
	border-radius:20px;
}

.warningIcon {
	color:red; 
	font-size:3em;
}

#p4 {
   border: black 5px solid;
}

#pp4 {
   border: black 5px solid;
}
 
#p5 {
   border: black 5px solid;
}

#pp5 {
   border: black 5px solid;
}
.choices {
cursor: pointer;
}
