@charset "utf-8";
/* CSS Document */

.topnav {
  text-align: center;
  background-color: #FFE3D4;
  overflow: hidden;
}

div {
	padding:5px;
	border-radius:5px;
}

#wrapper {
	width: 1500px;
	margin:0 auto;   
}

body {
	text-align: justify;
	background-color:#FAF0F2;  
	color: #000000;         
	font-size: 18px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";

}

h1 { 
	padding:9px;
	text-align:center;   
	background: #27213C;
	color: white;     
	border-radius:5px;
	font-weight: bold;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.body {
    background-color: #FFFFFF;
    padding: 5px;
    justify-content: center;
    font-size: 24px;
    text-align: left;
    color: #040404;
}

.stepTitle {
	padding:6px;
	text-align:left;
	color: white;
	font-size:20px;
	font-weight: bold;
	background-color:#FFFFFF;
	border-radius:5px;
 }

.stepContent { 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.warning {
	background-color: #F7E6E9;
	padding:10px;
	border-radius:20px;
}

.warningIcon {
	color:red; 
	font-size:3em;
}

#p4 {
   border: black 2px solid;
}

#pp4 {
   border: black 2px solid;
}
 
#p5 {
   border: black 2px solid;
}

#pp5 {
   border: black 2px solid;
}
.choices {
cursor: pointer;
}
